<ion-header>
  <ion-toolbar>
 
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="place">
    <div class="icon"> <ion-img src ="../assets/images/profile1.png"></ion-img></div>
   
    Name: <br><input placeholder="John Doe"><br>
    Age: <br><input placeholder=" 25"><br>
    Phone Number: <br><input placeholder="000 000 00000"><br>
    Emergency Contact: <br><input placeholder="111 111 11111"><br>
    Address: <br><input placeholder="10 Street, County County"><br>

</div>
   <div class="save"><ion-button (click)="main-page()" routerLink = "/main-page"  >Save</ion-button></div>

</ion-content>
