<ion-header>
  <ion-toolbar>
    <ion-title>Videos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="title">Exercise:</h3>

<ion-card>
  <ion-card-content>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/8vkYJf8DOsc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/zUx5kLFyx-M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/vXZ5l7G6T2I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/bCEC9RUoEnw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-card-content>
</ion-card>

<h3 class="title">Inspirational:</h3>
<ion-card>
  <ion-card-content>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/hOdtpCZp7TA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>  
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/FZimOSrRJN0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/psQkuax3xj0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </ion-card-content>
</ion-card>



</ion-content>
